<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="VersionAgrs" value="-v,--v,/v,--version"/>
    <add key="SizeAgrs" value="-s,--s,/s,--size"/>
  </appSettings>
  
</configuration>